@keyframes blink {
  0% {
    background-color: #02b89400;
  }

  100% {
    background-color: #02b894;
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
#bgVideoLoop {
  width: 100vw;
  position: absolute;
  /* z-index: -1; */
}

#vidWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: -1;
}

.Character-current {
  background-color: #02b894;
  /* padding: 4px;
  display: inline-block; */
  animation: blink 0.55s infinite;
}

.Character-current-err {
  color: red;
}

.Character-out {
  color: silver;
}

.container {
  width: 100%;
  background: #00000070;
  position: relative;
  padding: 2rem;
  color: white;
  text-shadow: 2px 2px 5px rgb(9, 9, 9);
}

p {
  font-size: 40px;
  /* position: absolute; */
  /* top: -2ch; */
}

.outgoing {
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  color: silver;
  position: absolute;
  bottom: 2ch;
}

.outgoingContainer {
  height: 8ch;
  border: 1px solid red;
  overflow: hidden;
  position: relative;
}

.incomingContainer {
  height: 198px;
  overflow: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

#bgContainer {
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
}

.runningCount {
  align-self: flex-end;
}

#appWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lives {
  align-self: flex-start;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
